ame: Build and Push API Gateway

on:
  push:
    branches: [ "main" ]
    paths:
      - 'ApiGateway/**' # Chỉ chạy khi có thay đổi trong thư mục Gateway

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        # Sử dụng Secrets đã tạo
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Gateway
      uses: docker/build-push-action@v6
      with:
        context: .
        # Chỉ đường dẫn Dockerfile trong thư mục ApiGateway
        file: ./ApiGateway/Dockerfile
        push: true
        # Đặt tên image mới cho Gateway (Ví dụ: vinhvu2010/api-gateway)
        tags: vinhvu2010/api-gateway:latest
