name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ] # Chạy khi có code đẩy vào nhánh main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        # Lưu ý: File Dockerfile nằm trong thư mục con ShortenUrl
        file: ./ShortenUrl/Dockerfile
        push: true
        # Thay tên repo Docker Hub của bạn vào đây
        tags: vinhvu2010/shorten_url:latest
